@import url("https://fonts.cdnfonts.com/css/spartan");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070722;
}

.overlay {
  /* Superponer un fondo semitransparente */
  background-color: rgba(0, 0, 0, 0.6); /* Fondo negro semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.specialGrid {
  min-height: 95vh;
  display: grid;
  gap: 40px;
  grid-template-columns: 2.2fr 1.2fr;
  grid-template-areas:
    "imagen planetInfo"
    "imagen planetButtons"
    "footer footer";

  @media screen and (min-width: 768px) {
    padding-inline: 40px;
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.7fr 0.4fr;
    grid-template-areas:
      "imagen imagen"
      "planetInfo planetButtons"
      "footer footer";
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-template-areas:
      "planetButtons"
      "imagen"
      "planetInfo"
      "footer";
  }
}

.imagen {
  grid-area: imagen;
}

.planetInfo {
  grid-area: planetInfo;
}

.planetButtons {
  grid-area: planetButtons;
}

.footer {
  grid-area: footer;
}

/* menu mobile */

.nav-icon-5 {
  width: 35px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-5 span {
  z-index: 99;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}
.nav-icon-5 span:nth-child(1) {
  top: 0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}
.nav-icon-5 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.nav-icon-5.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}
.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}
.nav-icon-5.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}
